/* this is for designing menu */
*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(skyblue,lightgreen);
}
.container
{
    height: 270px;
    width: 550px;
    border-radius: 8px;
    box-shadow: 15px 35px 20px rgba(0,0,0,0.5),-10px -20px 20px rgba(0,0,0,0.05);
    background-color: springgreens;
    border: 1.3px solid #ddd;
}
.sidebar
{
    width: 60px;
    height: 100%;
    background:linear-gradient(skyblue,lightgreen);
    padding: 20px;
    box-sizing: border-box;
    color:#fff;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    border-right: none;
    transition: width .75s ease;
}
.sidebar:hover{
    width:200px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
li{
    padding: 10px 10px;
    border-bottom: 2px solid whitesmoke;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
li:hover{
background-color: rgb(160, 238, 144);
}
.nav-link
{
    display: inline-flex;
    column-gap: 1rem;
    color: inherit;
    text-decoration: none;
}
.item-txt{
    padding-left: .5rem;
}
.attribute
{
    position: absolute;
    bottom: 10px;
}
